
/* CSS Document }*/
body {
	background-color:gray;
}

 div.container{
	min-width:600px;
	margin-bottom:50px;
	width:50%;
    text-align:center;
	margin: 0 auto;
	font-family:Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
	
}

div.container h1 {
	color:orangered;
}

img {
	display:block;
	margin:auto;
}