
/* CSS Document }*/
body {
	background-color:gray;
}

 div.container{
	 min-width:600px;
	 margin-bottom:50px;
	 width:50%;
	 text-align:center;
	 margin: 0 auto;
	 font-family:Cambria, Times, serif;
	
}

div.container h1 {
	color:orangered;
}

img {
	display:block;
	margin:auto;
	width: 198px;
	height: 417px;
}